<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="container">
        <h1>Editar Tarefa</h1>
        <form action="/users/tasks/update/<%= task.id %>" method="POST" class="task-form">
            <input type="text" name="title" class="input-edit" value="<%= task.title %>" required>
            <button type="submit" class="save-button">Salvar Alterações</button>
        </form>

        <a href="/users/todolist" class="cancel-edit">Cancelar</a>
    </div>
</body>
</html>
